<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Main/01</key>
	<string>ZDMainViewController</string>
	<key>LiveCast/01</key>
	<string>ZDFirstViewController</string>
	<key>LiveCast/02</key>
	<string>ZDSecondViewController</string>
</dict>
</plist>
